/* =========================================
   HEADER
========================================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #ff0000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* NAVBAR */

.navbar {
  max-width: 1400px;
  margin: 0 auto;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

/* MENU */

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 20px;
}

.menu li {
  list-style: none;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: #ffe482;
}

/* BOTÃO HAMBURGUER */

.menu-toggle {

  display: none;
  font-size: 34px;
  color: white;
  cursor: pointer;
  user-select: none;
}