.testimonials {
  padding: 100px 20px;

  text-align: center;

  background-image:
  linear-gradient(rgba(0,0,0,0.6),
  rgba(0,0,0,0.6)),
  url("/images/dep-pizz.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.testimonials h2 {
  font-size: 40px;

  color: #ffffff;

  margin-bottom: 50px;
}

.testimonial-cards {
  display: flex;

  gap: 20px;

  justify-content: center;

  flex-wrap: wrap;
}

.testimonial {
  background: #ffdd62;

  padding: 30px;

  border-radius: 20px;

  max-width: 300px;

  transition: 0.3s;
}

.testimonial:hover {
  transform: translateY(-10px);
}

.testimonial p {
  color: #ff2a00;

  margin-bottom: 20px;

  line-height: 1.6;
}

.testimonial h3 {
  color: #ff0000;
}
